body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/*Section*/

.colored-section {
    background-color: #FF4C68;
    color: white;
}

.white-section {
    background-color: white;
}

/*Title Section*/

#title {
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7% 15%;
}

/*Navigation Bar*/
.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 3rem 0;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
}


/*Download buttons*/
.btn {
    margin: 5% 1%;
}

i {
    padding-right: 10px;
}

/*Title image*/
.title-img {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
}

@media (max-width: 1100px) {
    .title-img {
        position: static;
        transform: none;
    }

    #title {
        text-align: center;
    }
}


/*Features Section*/
#features {
    padding: 10% 15%;
    background-color: white;
    position: relative;
}

.feature-box {
    padding: 0px 2rem;
}

.icon {
    color: #EF8172;
    display: block;
    padding-bottom: 1rem;
}

.icon:hover {
    color: #FF4C68;
}


/*Testimonials Section*/
#testimonials {
    background-color: #EF8172;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
}


/*Press Section*/
#press {
    background-color: #EF8172;
}

.logo {
    width: 15%;
    margin: 3rem;
}


/*Pricing Section*/
#pricing {
    padding: 7% 15%;
}

.pricing-col {
    padding: 3% 2%;
}


/*Call to action*/
#cta {
    padding: 6rem 20rem;

}

/*Footer*/
#footer {
    padding: 4rem;
}

.footer-icon {
    margin: 10px;
}







